@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Pacifico&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
/*
Fuentes:
Pacífico - Texto de Biografias.com
Playpit - Texto de párrafos
Cinzel - Texto de títulos
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Platypi", serif;
    background-color: #8a817c;
}

p {
    text-align: justify;
}

nav {
    background-color: #e0afa0;
    height: 100px;
}

nav h2 {
    font-family: "Pacifico", cursive;
    font-size: 3em;
    text-align: left;
    height: 100px;
    vertical-align: middle;
    padding: 5px 0 0 40px;
}

nav ul {
    float: right;
    width: 956.188px;
}

nav li {
    display: inline-block;
    list-style: none;
    width: 172.109px;
    margin: -21px -2px 0px;
}

nav a {
    text-decoration: none;
    color: #2e2118;
}

nav li a {
    display: inline-block;
    width: 100%;
    padding: 12%;
    font-weight: 700;
    font-size: 1em;
    position: relative;
    top: 37px;
    border-radius: 10px;
}

nav li a:hover {
    background-color: #d18e79;
    color: #eedbd6;
}

header {
    background-color: #f4f3ee;
    text-align: center;
}

section {
    position: relative;
    width: 85%;
    margin: 0 auto;
    background-color: #f4f3ee;
    margin-top: 4em;
    margin-bottom: 3em;
    padding: 30px;
    word-wrap: break-word;
    padding-bottom: 0px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.40);
}

section p {
    position: absolute;
    bottom: 125px;
    margin-left: 12em;
    margin-right: 3em;
}

.Curie, .Tesla, .Armstrong, .Segundo{
    bottom: 100px;
}

section h3 {
    background-color: #463F3A;
    margin: 0em 12em 0em;
    padding: 0.3em;
    color: #f4f3ee;
    border-radius: 5px;
    font-family: "Cinzel", serif;
    font-size: 1em;
    width: 30%;
    text-align: center;
    line-height: 1.3;
}

section img{
    width: 15%;
    height: 220px;
    position: relative;
    bottom: 30px;
    border-radius: 5px;
}

.MaCu, .NiTe, .NeAm{
    height: 220px;
}

section a{
    padding: 15px 30px 15px 30px;
    background-color: #e0afa0;
    color: #f4f3ee;
    position: relative;
    left: 25px;
    bottom: 50px;
    border-radius: 7px;
    text-decoration: none;
    transition: 0.5s;
}

section a:hover{
    background-color: #d18e79;
    color: white;
    transition: 0.5s;
}

section.Marie a, section.Nikola a, section.Neil a{
    bottom: 48px;
}
