/* Importa las fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Pacifico&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

/* Restablece el margen y el relleno de todos los elementos y asegura el cálculo correcto del tamaño del contenedor */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos para el cuerpo del documento */
body {
    font-family: "Platypi", serif; /* Asigna la fuente principal */
    background-color: #8a817c; /* Fija el color de fondo */
}

/* Estilos para los párrafos */
p {
    text-align: justify; /* Justifica el texto */
}

/*============ NAV ============*/
/* Estilos para la barra de navegación */
nav {
    background-color: #e0afa0;
    height: 100px;
}

nav h2 {
    font-family: "Pacifico", cursive;
    font-size: 3em;
    text-align: left;
    height:20%;
    vertical-align: middle;
    padding: 5px 0 0 40px;
}

nav ul {
    float: right;
    
}

nav li {
    display: inline-block;
    list-style: none;
    width: 172.109px;
    margin: -21px -2px 0px;
}

nav a {
    text-decoration: none;
    color: #2e2118;
}

nav li a {
    display: inline-block;
    width: 100%;
    padding: 12%;
    font-weight: 700;
    font-size: 1em;
    position: relative;
    top: 37px;
    border-radius: 10px;
}

nav li a:hover {
    background-color: #d18e79;
    color: #eedbd6;
}

header {
    background-color: #f4f3ee;
    text-align: center;
}

/* Estilos para pantallas grandes */
@media only screen and (min-width: 1024px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
    }
    nav h2 {
        font-size: 3em;
        text-align: left;
        margin-right: auto; /* Mantiene el logo a la izquierda */
    }
    nav ul {
        justify-content: flex-end;
    }
    nav li {
        margin-left: 30px;
    }
}

/* Estilos para pantallas de tabletas */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    nav {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 35px;
        padding-bottom: 0;
    }

    nav h2 {
        font-size: 2.7em;
        text-align: center;
        padding: 10px 0;
        position: relative;
         bottom: 3.5em ;
        
    }

    nav ul {
        margin-top: 20px;
        width: 100%;
        text-align: center;
        padding: 0;
        list-style-type: none;
    }

    nav li {
        display: inline-block;
        margin: 5px 10px;
    }

    nav li a {
        padding: 10px;
        font-size: 1.1em;
    }
}

/* Estilos para pantallas pequeñas (celulares) */
@media only screen and (max-width: 768px) {
    nav {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        position: relative;
    }

    nav h2 {
        font-size: 2.5em;
        text-align: center;
        position: absolute;
        top: 2.5px; /* Ajusta este valor según el espacio que quieras */
        
        margin: 0;
        z-index: 1;
        right: 10;
    }

    nav ul {
        margin-top: 30px; /* Asegura que el menú no quede detrás del h2 */
        
        text-align: center;
        padding: 0;
        list-style-type: none;
    }

    nav li {
        display: block;
        margin: 5px 0;
        width: 75vw;
    }

    nav li a {
        padding: 7px 0;
        width: 80%;
        font-size: 1em;
        text-align: center;
        display: block;
        margin: 0 auto;
        top: 20px;
        z-index: 2;
    }
}

/*============ MAIN ============*/
/* Estilos para el contenedor principal */
main.contenedor {
    display: flex; /* Elementos en línea */
    justify-content: space-evenly; /* Espacio equitativo */
    padding: 2rem; /* Relleno interno */
    background-color: #f4f3ee; /* Fondo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-bottom: 15px;
}

/* Estilos para las secciones del contenedor principal */
section.container {
    width: 40%; /* Ancho de cada sección */
}

/*============ FORMULARIO ============*/
/* Estilos para el formulario */
.formulario {
    background-color: #e0afa0;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5rem;
}

.formulario fieldset {
    border: none;
}

/* Estilo para la leyenda del formulario */
.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #2e2118;
}

.contenedor-campos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem; /* Espacio entre campos */
}

.campo label {
    color: #2e2118;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

/* Estilos para los campos de entrada de texto */
.input-text {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #2e2118;
    margin-bottom: 1rem;
}

/* Estilos para el botón */
.boton {
    background-color: #2e2118;
    color: #fefefe;
    padding: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Efecto hover para el botón */
.boton:hover {
    background-color: #d18e79;
    color: #2e2118;
}

/*============ REDES ============*/
/* Estilos para la sección de redes sociales */
.redes {
    height: 30%;
    background-color: #e0afa0;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.redes h3 {
    font-size: 2em;
    margin-bottom: 1.5rem;
    color: #2e2118;
    font-family: "Cinzel", serif;
    text-align: center;
}

/* Estilos para la lista de redes sociales */
.redes ul {
    list-style: none;
    padding: 0;
}

.redes li {
    font-size: 1.5em;
    padding: 0.5rem 0;
    text-align: center;
    color: #fefefe;
    background-color: #2e2118;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}

/* Efecto hover para elementos de redes sociales */
.redes li:hover {
    background-color: #d18e79;
    color: #2e2118;
}

/*============ FOOTER ============*/
/* Estilos para el pie de página */
footer {
    background-color: #e0afa0;
    color: #fefefe;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilos para pantallas pequeñas (footer) */
@media (max-width: 768px) {
    main.contenedor {
        flex-direction: column;
        align-items: center;
    }

    section.container {
        width: 100%;
        margin-bottom: 2rem;
    }
}

/* Estilos para el texto del footer */
footer p {
    text-align: center;
    margin: 5px 0;
    font-size: 1em;
}
