@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Pacifico&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Platypi", serif;
    background-color: #8a817c;
}

p {
    text-align: justify;
}

nav {
    background-color: #e0afa0;
    height: 100px;
}

nav h2 {
    font-family: "Pacifico", cursive;
    font-size: 3em;
    text-align: left;
    height: 100px;
    vertical-align: middle;
    padding: 5px 0 0 40px;
}

nav ul {
    float: right;
    width: 956.188px;
}

nav li {
    display: inline-block;
    list-style: none;
    width: 172.109px;
    margin: -21px -2px 0px;
}

nav a {
    text-decoration: none;
    color: #2e2118;
}

nav li a {
    display: inline-block;
    width: 100%;
    padding: 12%;
    font-weight: 700;
    font-size: 1em;
    position: relative;
    top: 37px;
    border-radius: 10px;
}

nav li a:hover {
    background-color: #d18e79;
    color: #eedbd6;
}

header {
    background-color: #f4f3ee;
    text-align: center;
}
/*============ MAIN ============*/
main.contenedor {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background-color: #f4f3ee;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15PX;
}

section.container {
    width: 40%;
}


/*============ FORMULARIO ============*/
.formulario {
    background-color: #e0afa0;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #2e2118;
}

.contenedor-campos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.campo label {
    color: #2e2118;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.input-text {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #2e2118;
    margin-bottom: 1rem;
}

.boton {
    background-color: #2e2118;
    color: #fefefe;
    padding: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    width: 100%;
}

.boton:hover {
    background-color: #d18e79;
    color: #2e2118;
}

/*============ REDES ============*/
.redes {
    height: 30%;
    background-color: #e0afa0;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.redes h3 {
    font-size: 2em;
    margin-bottom: 1.5rem;
    color: #2e2118;
    font-family: "Cinzel", serif;
    text-align: center;
}

.redes ul {
    list-style: none;
    padding: 0;
}

.redes li {
    font-size: 1.5em;
    padding: 0.5rem 0;
    text-align: center;
    color: #fefefe;
    background-color: #2e2118;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}

.redes li:hover {
    background-color: #d18e79;
    color: #2e2118;
}

footer {
    background-color: #e0afa0;
    color: #fefefe;
    text-align: center;
    padding: 20px 0; 
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    position: relative; 
    bottom: 0;
    left: 0;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

@media (max-width: 768px) {
    main.contenedor {
        flex-direction: column;
        align-items: center;
    }

    section.container {
        width: 100%;
        margin-bottom: 2rem;
    }
}


footer p {
    text-align: center;
    margin: 5px 0;
    font-size: 1em; 
}

.social-media {
    margin-top: 10px; 
}
.social-icon {
    color: #fefefe;
    font-size: 1.5rem;
    margin: 0 10px; 
    text-decoration: none;
}

.social-icon:hover {
    color: #c5b9b4;
    transition: color 0.3s;
}


