@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Pacifico&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
/*
Fuentes:
Pacífico - Texto de Biografias.com
Playpit - Texto de párrafos
Cinzel - Texto de títulos
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Platypi", serif;
    background-color: #8a817c;
}

p {
    text-align: justify;
}

nav {
    background-color: #e0afa0;
    height: 100px;
}

nav h2 {
    font-family: "Pacifico", cursive;
    font-size: 3em;
    text-align: left;
    height: 100px;
    vertical-align: middle;
    padding: 5px 0 0 40px;
}

nav ul {
    float: right;
    padding: 30px 0 30px;
    height: 100px;
    width: 50%;
}

nav li {
    display: inline-block;
    list-style: none;
    width: 30%;
    margin: -30px -3px 0px;
}

nav a {
    text-decoration: none;
    color: #2e2118;
}

nav li a {
    display: inline-block;
    width: 100%;
    height: 100px;
    padding: 13%;
    font-weight: 700;
    font-size: 1.3em;
}

nav li a:hover {
    background-color: #d18e79;
    color: #eedbd6;
}

header {
    background-color: #f4f3ee;
    text-align: center;
}

#img_banner {
    width: 100%;
}

section.general {
    background-color: #f4f3ee;
    margin-top: -5px;
    padding: 30px;
}

h1 {
    font-family: "Cinzel", serif;
    font-size: 2em;
    text-align: center;
    margin-bottom: 5px;
}

ul.datos {
    width: 50%;
    margin: 0 auto;
}

section{
    font-size: 1.3em;
}

section p {
    margin: 20px 0px;
}

section.informacion {
    width: 85%;
    margin: 0 auto;
    background-color: #f4f3ee;
    margin-top: 6em;
    margin-bottom: 3em;
    padding: 30px;
    word-wrap: break-word;
    padding-bottom: 50px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.40);
}

body {
    padding-bottom: 40px;
}

section h3 {
    background-color: #463F3A;
    margin: 2em auto 1em;
    padding: 0.3em;
    color: #f4f3ee;
    border-radius: 5px;
    font-family: "Cinzel", serif;
    font-size: 1.2em;
    width: 30%;
    text-align: center;
    line-height: 1.3;
}

.img_horizontal {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.img_vertical {
    display: block;
    height: 600px;
    margin: 0 auto;
}

@media(max-width: 768px) {
    footer {
        position: static;
    }

    section h3 {
        margin-right: 2em;
        font-size: 1.2em;
    }
}

footer {
    background-color: #e0afa0;
    color: #fefefe;
    text-align: center;
    padding: 20px 0; 
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    position: relative; 
    bottom: 0;
    left: 0;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

footer p {
    margin: 5px 0;
    font-size: 1em; 
}

.social-media {
    margin-top: 10px;
}
.social-icon {
    color: #fefefe;
    font-size: 1.5rem;
    margin: 0 10px; 
    text-decoration: none;
}

.social-icon:hover {
    color: #c5b9b4;
    transition: color 0.3s;
}

article.galeria img {
    width: 30%;
    background-color: #f4f3ee;
    margin-left: 1em;
    height: 500px;
}