@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Pacifico&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
/*
Fuentes:
Pacífico - Texto de Biografias.com
Playpit - Texto de párrafos
Cinzel - Texto de títulos
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Platypi", serif;
    background-color: #8a817c;
}

nav {
    background-color: #e0afa0;
    height: 100px;
}

nav h2 {
    font-family: "Pacifico", cursive;
    font-size: 3em;
    text-align: left;
    height: 100px;
    vertical-align: middle;
    padding: 5px 0 0 40px;
}

nav ul {
    float: right;
    padding: 30px 0 30px;
    height: 100px;
    width: 50%;
}

nav li {
    display: inline-block;
    list-style: none;
    width: 30%;
    margin: -30px -3px 0px;
}

nav a {
    text-decoration: none;
    color: #2e2118;
}

nav li a {
    display: inline-block;
    width: 100%;
    height: 100px;
    padding: 13%;
    font-weight: 700;
    font-size: 1.3em;
}

nav li a:hover {
    background-color: #d18e79;
    color: #eedbd6;
}

header {
    background-color: #f4f3ee;
    text-align: center;
}

section {
    width: 85%;
    margin: 0 auto;
    background-color: #f4f3ee;
    margin-top: 6em;
    margin-bottom: 3em;
    padding: 30px;
    word-wrap: break-word;
    padding-bottom: 50px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.40);
}

h3 {
    background-color: #463F3A;
    margin: 2em auto 1em;
    padding: 0.3em;
    color: #f4f3ee;
    border-radius: 5px;
    font-family: "Cinzel", serif;
    font-size: 1.2em;
    width: 30%;
    text-align: center;
    line-height: 1.3;
}

footer {
    background-color: #e0afa0;
    color: #fefefe;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

p {
    margin: 20px 0px;
    font-size: 1.3em;
    text-align: center;
}